<!-- DEFINE $CG_PAGE = 'ebooks' -->
<!-- INCLUDE overall_header.html -->

	<h2>{L_CODE_GENERATOR}</h2>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="width: 100%;">
	<!-- INCLUDE codegenerator/menu.html -->
	<div id="cp-main" class="ucp-main">
	<h2>{L_CAT_BOOKS}</h2>


<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

<p>* Selecione o código abaixo precionando CTRL+A, depois CTRL+C, logo depois vá ao fórum na parte em que deseja postar e clique com o botão direito COLAR ou precione CTRL+V.</p>
		<hr />
		<div style="text-align: center;">
<textarea name="message" id="message" rows="1" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{A_COMPARTILHAMENTO_HTTP}{A_COMPARTILHAMENTO_TORRENT}{A_COMPARTILHAMENTO_PANDO}{A_COMPARTILHAMENTO_ED2K}{A_COMPARTILHAMENTO_P2M} {A_NOME} - {A_AUTOR}</textarea>
</br>
<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">
[divs][center][size=170]{A_NOME}[/size][/center][/divs]

[columns1][center][size=150]{L_POSTER}[/center][/size][divs]
[poster]{A_POSTER}[/poster][/divs]
[center][size=150]{L_DESCRIPTION}[/center][/size][divs]
{A_DESCRICAO}[/divs]
[/columns1][columns2][center][size=150]{L_DATA_FILE}[/center][/size][divs]
• [b]Nome:[/b] {A_NOME}
• [b]Autor:[/b] {A_AUTOR}
• [b]Páginas:[/b] {A_PAGINAS}
• [b]Tamanho:[/b] {A_TAMANHO}
• [b]Gênero:[/b] {A_GENERO}
• [b]Formato:[/b] {A_FORMATO}
• [b]Compartilhamento:[/b] {A_COMPARTILHAMENTO}
• [b]Grupo:[/b] {A_GRUPO}
• [b]Uploader:[/b] {A_UPLOADER}[/divs]
[center][size=150]Download[/size][/center][divs][center]{A_HTTP}[/center][/divs]
[/columns2]</textarea>
			</div>
	<span class="corners-bottom"><span></span></span></div>
	</div>
</div>
	<div class="clear"></div>
	</div><div class="copyright" style="text-align: right;">{L_COPYRIGHT}<br />
		{L_CODE_GENERATOR_TRANSLATION_INFO}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->