<!-- DEFINE $CG_PAGE = 'movies' -->
<!-- INCLUDE overall_header.html -->

	<h2>{L_CODE_GENERATOR}</h2>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="width: 100%;">
	<!-- INCLUDE codegenerator/menu.html -->
	<div id="cp-main" class="ucp-main">
	<h2>{L_CAT_MOVIE}</h2>


<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>


<p>* Selecione o código abaixo precionando CTRL+A, depois CTRL+C, logo depois vá ao fórum na parte em que deseja postar e clique com o botão direito COLAR ou precione CTRL+V.</p>
		<hr />
			<div style="text-align: center;">
<textarea name="message" id="message" rows="1" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{A_COMPARTILHAMENTO_HTTP}{A_COMPARTILHAMENTO_TORRENT}{A_COMPARTILHAMENTO_PANDO}{A_COMPARTILHAMENTO_ED2K}{A_COMPARTILHAMENTO_P2M} {A_NOME} ({A_ANO})</textarea>
</br>
		<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">
[divs][center][size=170]{A_NOME}[/size][/center][/divs]
		
[columns1][center][size=150]{L_POSTER}[/center][/size][divs][poster]{A_POSTER}[/poster][/divs]
[center][size=150]{L_SYNOPSIS}[/size][/center][divs]{A_DESCRICAO}[/divs]
[center][size=150]SCREENSHOTS[/size][/center][divs][shot]{A_SCREEN1}[/shot][shot]{A_SCREEN2}[/shot][/divs]
[center][size=150]{L_CAST}[/size][/center][divs]{A_ELENCO}[/divs]
[center][size=150]{L_AWARDS}[/size][/center][divs]{A_PREMIACOES}[/divs]
[center][size=150]{L_OTHER_INFORMATION}[/size][/center][divs]{A_OUTRAS_INFO}[/divs]
[center][size=150]{L_TRIVIA}[/size][/center][divs]{A_CURIOSIDADES}[/divs]
[/columns1][columns2][center][size=150]Dados do Filme[/size][/center][divs]• [b]Nome:[/b] {A_NOME}
• [b]Titulo Traduzido:[/b] {A_TRADUZIDO}
• [b]Gênero:[/b] {A_GENERO}
• [b]Duração:[/b] {A_DURACAO}
• [b]Ano Lançamento:[/b] {A_ANO}
• [b]Link IMDB:[/b] {A_IMDB}[/divs]
[center][size=150]{L_CREDITS}[/size][/center][divs]{A_FICHA}[/divs]
[center][size=150]{L_DATA_FILE}[/size][/center][divs]• [b]Quant. de Mídias:[/b] {A_MIDIAS}
• [b]Tamanho:[/b] {A_TAMANHO_ARQUIVO}
• [b]Legenda:[/b] {A_LEGENDA}
• [b]Idioma do Áudio:[/b] {A_IDIOMA}
• [b]Compartilhamento:[/b] {A_COMPARTILHAMENTO}
• [b]Grupo:[/b] {A_GRUPO}
• [b]Uploader:[/b] {A_UPLOADER}[/divs]
[center][size=150]{L_SPECIFICATIONS}[/size][/center][divs]• [b]Qualidade:[/b] {A_QUALIDADE}
• [b]Video Codec:[/b] {A_VIDEO_C}
• [b]Video Bitrate:[/b] {A_VIDEO_B}
• [b]Audio Codec:[/b] {A_AUDIO_C}
• [b]Audio Bitrate:[/b] {A_AUDIO_B}
• [b]Resolução:[/b] {A_RESOLUCAO}
• [b]Frame Rate:[/b] {A_FRAME_R}
• [b]Formato da Tela:[/b] {A_FORMATO_TELA}[/divs]
[center][size=150]Download[/size][/center][divs][center]{A_HTTP}[/center][/divs]
[/columns2]</textarea>
			</div>
<span class="corners-bottom"><span></span></span></div>
</div>
</div>
	<div class="clear"></div>
	</div><div class="copyright" style="text-align: right;">{L_COPYRIGHT}<br />
		{L_CODE_GENERATOR_TRANSLATION_INFO}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->