<!-- DEFINE $CG_PAGE = 'uportal' -->
<!-- INCLUDE overall_header.html -->

	<h2>{L_CODE_GENERATOR}</h2>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="width: 100%;">
	<!-- INCLUDE codegenerator/menu.html -->
	<div id="cp-main" class="ucp-main">
	<h2>{L_CAT_PORTAL}</h2>


<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>


<p>* Selecione o código abaixo precionando CTRL+A, depois CTRL+C, logo depois vá ao fórum na parte em que deseja postar e clique com o botão direito COLAR ou precione CTRL+V.</p>
		<hr />
			<div style="text-align: center;">
<textarea name="message" id="message" rows="1" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">Portal</textarea>
</br>
		<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">
[divp][h6p]{A_TITULO1}[/h6p]
[center][img]{A_IMAGEM1}[/img][/center]
[detalhes={A_TOPICO1}][b]Compartilhamento:[/b] {A_COMPARTILHAMENTO1}
[b]Categoria:[/b] {A_CATEGORIA1}
[b]Sub-Categoria:[/b] {A_SUBCATEGORIA1}
[b]Tamanho:[/b] {A_TAMANHO1}
[b]Postador Por:[/b] {A_AUTOR1}
[b][topic={A_TOPICO2}][color=#FF0000]Ver Tópico[/color][/topic][/b][/detalhes][/divp][divp][h6p]{A_TITULO2}[/h6p]
[center][img]{A_IMAGEM2}[/img][/center]
[detalhes={A_TOPICO2}][b]Compartilhamento:[/b] {A_COMPARTILHAMENTO2}
[b]Categoria:[/b] {A_CATEGORIA2}
[b]Sub-Categoria:[/b] {A_SUBCATEGORIA2}
[b]Tamanho:[/b] {A_TAMANHO2}
[b]Postador Por:[/b] {A_AUTOR2}
[b][topic={A_TOPICO2}][color=#FF0000]Ver Tópico[/color][/topic][/b][/detalhes][/divp][divp][h6p]{A_TITULO3}[/h6p]
[center][img]{A_IMAGEM3}[/img][/center]
[detalhes={A_TOPICO3}][b]Compartilhamento:[/b] {A_COMPARTILHAMENTO3}
[b]Categoria:[/b] {A_CATEGORIA3}
[b]Sub-Categoria:[/b] {A_SUBCATEGORIA3}
[b]Tamanho:[/b] {A_TAMANHO3}
[b]Postador Por:[/b] {A_AUTOR3}
[b][topic={A_TOPICO3}][color=#FF0000]Ver Tópico[/color][/topic][/b][/detalhes][/divp]</textarea>
			</div>


<span class="corners-bottom"><span></span></span></div>
</div>
</div>
	<div class="clear"></div>
	</div><div class="copyright" style="text-align: right;">{L_COPYRIGHT}<br />
		{L_CODE_GENERATOR_TRANSLATION_INFO}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->