<!-- DEFINE $CG_PAGE = 'main' -->
<!-- INCLUDE overall_header.html -->

	<h2>{L_CODE_GENERATOR}</h2>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="width: 100%;">		
	<!-- INCLUDE codegenerator/menu.html -->
	<div id="cp-main" class="cp-main ucp-main panel-container">
	<h2>{L_MAIN_PAGE} - {L_CHOICE_CATEGORY}</h2>
	<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	{L_WELCOME_MESSAGE}
	<span class="corners-bottom"><span></span></span></div>
</div>
</div>
	<div class="clear"></div>
	</div><div class="copyright" style="text-align: right;">{L_COPYRIGHT}<br />
		{L_CODE_GENERATOR_TRANSLATION_INFO}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->