<!-- DEFINE $CG_PAGE = 'games' -->
<!-- INCLUDE overall_header.html -->

	<h2>{L_CODE_GENERATOR}</h2>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="width: 100%;">
	<!-- INCLUDE codegenerator/menu.html -->
	<div id="cp-main" class="cp-main ucp-main panel-container">
	<h2>{L_CAT_GAMES}</h2>


<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	
<p>* Selecione o código abaixo precionando CTRL+A, depois CTRL+C, logo depois vá ao fórum na parte em que deseja postar e clique com o botão direito COLAR ou precione CTRL+V.</p>
		<hr />
			<div style="text-align: center;">
<textarea name="message" id="message" rows="1" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{A_COMPARTILHAMENTO_HTTP}{A_COMPARTILHAMENTO_TORRENT}{A_COMPARTILHAMENTO_ED2K}{A_COMPARTILHAMENTO_MAGNET} {A_NOME} ({A_ANO})</textarea>
</br>
		<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">
[table]
[tr][td2col][img]IMAGEM TOPO[/img][/td2col][/tr]
[tr][td2col][b][size=5]{A_NOME}[/size][/b][/td2col][/tr][tr][tdrodape]Capa[/tdrodape][tdrodape]Descri&ccedil;&atilde;o[/tdrodape][/tr][tr][tdvtop][center][poster]{L_POSTER}[/poster][/center][/tdvtop][tdvtop]{A_DESCRICAO}[/tdvtop][/tr]
[tr][td2rodape]ScreenShots[/td2rodape][/tr][tr][td2col][center]
[ashot]{A_SCREEN1}[/ashot] {% endif %}
[ashot]{A_SCREEN2}[/ashot] {% endif %}
{% if A_SCREEN3 %}[ashot]{A_SCREEN3}[/ashot] {% endif %}
{% if A_SCREEN4 %}[ashot]{A_SCREEN4}[/ashot] {% endif %}
Clique na imagem para ver em tamanho real[/center][/td2col][/tr]
[tr][tdrodape]Dados do Jogo[/tdrodape][tdrodape]Dados do Arquivo[/tdrodape][/tr][tr][tdvtop]
[b]Categoria:[/b] {A_FABRICANTE}
{% if A_FABRICANTE %}[b]Fabricante:[/b] {A_FABRICANTE} {% endif %}
{% if A_DISTRIBUIDOR %}[b]Distribuidora:[/b] {A_DISTRIBUIDOR} {% endif %}
{% if A_IDIOMA %}[b]Multiplayers:[/b] {A_MULTIPLAY} {% endif %}
[b]Console:[/b] {A_CONSOLE}
[b]Sistema/Vídeo:[/b] {A_SISTEMA}
{% if A_IDIOMA %}[b]Idioma:[/b] {A_IDIOMA} {% endif %}
{% if A_ANO %}[b]Ano de Lan&ccedil;amento:[/b] {A_ANO} {% endif %}
{% if A_YOUTUBE %}[b]Site Oficial:[/b] {A_OUTRAS_INFO} {% endif %}
{% if A_YOUTUBE %}[b]Tutorial:[/b] {A_OUTRAS_INFO} {% endif %}
[/tdvtop][tdvtop]
[b]Quantidade de Mídias:[/b] {A_MIDIAS}
[b]Tamanho:[/b] {A_TAMANHO}
{% if A_YOUTUBE %}[b]Release:[/b] {A_OUTRAS_INFO} {% endif %}
[b]Tipo de Compartilhamento:[/b] {A_COMPARTILHAMENTO_HTTP}{A_COMPARTILHAMENTO_TORRENT}{A_COMPARTILHAMENTO_ED2K}{A_COMPARTILHAMENTO_MAGNET}[/tdvtop][/tr]
{% if A_YOUTUBE %} [tr][td2rodape]V&iacute;deo / Trailer [/td2rodape][/tr][tr][td2col][center][youtube]{A_YOUTUBE}[/youtube][/center][/tr][/td2col]{% endif %}
{% if A_OUTRAS_INFO %}[tr][td2rodape]{L_OTHER_INFORMATION}[/td2rodape][/tr][tr][td2col][center]{A_OUTRAS_INFO} [/center][/td2col][/tr]{% endif %}
[tr][td2rodape]Download[/td2rodape][/tr][tr][td2col]
[center][color=red][b]Sempre que baixar, comente e/ou agradeça ao autor do Tópico. Isso fará com que ele fique motivado a postar outros Tópicos.[/b][/color][/center]
{A_HTTP}
[/td2col][/tr][/table]
</textarea>
			</div>

<span class="corners-bottom"><span></span></span></div>
</div>
</div>
	<div class="clear"></div>
	</div><div class="copyright" style="text-align: right;">{L_COPYRIGHT}<br />
		{L_CODE_GENERATOR_TRANSLATION_INFO}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->