<!-- DEFINE $CG_PAGE = 'ebooks' -->
<!-- INCLUDE overall_header.html -->

	<h2>{L_CODE_GENERATOR}</h2>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="width: 100%;">
	<!-- INCLUDE codegenerator/menu.html -->
	<div id="cp-main" class="ucp-main">
	<h2>{L_CAT_BOOKS}</h2>
	<form name="formfs" onSubmit="return erro();" method="post" action="{U_EBOOK_ACTION}">
	
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>{L_FIELDS_REQUIRED}</p>
	
		<dt><label><h3>{L_DATA_FILE}</h3></label></dt>
		
		<fieldset>
		<dl>
		<dt><label>* {L_NAME}:</label></dt>
		<dd><input type="text" name="nome"  class=":required inputbox" id="nome"></dd>

		<dt><label>* {L_AUTHOR}:</label></dt>
		<dd><input type="text" name="autor"  class=":required inputbox" id="autor"></dd>
	
		<dt><label>* {L_PAGES}:</label></dt>
		<dd><input type="text" name="paginas" class=":required inputbox" id="paginas"></dd>

		<dt><label>* {L_SIZE}:</label></dt>
		<dd><input type="text" name="tamanho"  class=":required inputbox" id="tamanho"></dd>

		<dt><label>* {L_POSTER}: </label></dt>
		<dd><input type="text" name="poster" class=":required inputbox" id="poster"></dd>

		<dt><label>* {L_FORMAT}:</label></dt>
		<dd><select name="formato" id="select">
		  <option value="{L_SELECT}">{L_SELECT}</option>
		  <option>---------------------</option>
		  <option>Zinio</option>
		  <option>Acrobat</option>
		  <option>MS Reader</option>
		  <option>Outro</option>
		</select></dd>

		<dt><label>* {L_GENRE}: </label></dt>
		<dd><select name="genero" id="select3">
	  <option value="{L_SELECT}">{L_SELECT}</option>
	  <option>-------------------------</option>
	  <option>Animais de Estimação</option>
	  <option>Antiguidades e Coleções</option>
	  <option>Arte</option>
	  <option>Artes Performáticas</option>
	  <option>Artesanatos e Hobbies</option>
	  <option>Atualidades</option>
	  <option>Auto-Ajuda</option>
	  <option>Biografia</option>
	  <option>Casa e Lar</option>
	  <option>Ciência</option>
	  <option>Ciência Política</option>
	  <option>Ciências Sociais</option>
	  <option>Coleções</option>
	  <option>Comunicação</option>
	  <option>Culinária</option>
	  <option>Direito</option>
	  <option>Educação</option>
	  <option>Esoterismo</option>
	  <option>Esportes e Lazer</option>
	  <option>Ficção</option>
	  <option>Ficção Infanto-Juvenil</option>
	  <option>Filosofia</option>
	  <option>História</option>
	  <option>Humor</option>
	  <option>Infanto-Juvenil (Não-Ficção)</option>
	  <option>Informática</option>
	  <option>Jogos</option>
	  <option>Literatura</option>
	  <option>Livros Didáticos</option>
	  <option>Livros Raros</option>
	  <option>Línguas Estrangeiras</option>
	  <option>Medicina</option>
	  <option>Música</option>
	  <option>Negócios e Economia</option>
	  <option>Poesia</option>
	  <option>Psicologia e Psiquiatria</option>
	  <option>Referência</option>
	  <option>Relacionamentos e Família</option>
	  <option>Religião - Crenças</option>
	  <option>Saúde e Beleza</option>
	  <option>Técnico</option>
	  <option>-------------------------</option>
	  <option>Revistas</option>
	  <option>Outros</option>
	</select></dd>
		
		<dt><label>* {L_GROUP}:</label></dt>
		<dd><input type="text" name="grupo" class=":required inputbox" id="grupo"></dd>
		
		<dt><label>* {L_UPLOADER}:</label></dt>
		<dd><input type="text" name="uploader" class=":required inputbox" id="uploader"></dd>
	</dl>
	</fieldset>
	
	<fieldset>
		<hr />
		<dl>
		<dt><label>* {L_DESCRIPTION}</label></dt>
		<dd><textarea class=":required inputbox" name="descricao" rows="3" cols="30" id="descricao"></textarea></dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<hr />
        <dt><label>* Compartilhamento:</label></dt>
		<dd><label><input type="checkbox" name="compartilhamento_http" value="[http]" id="compartilhamento"> http </label>
		<label><input type="checkbox" name="compartilhamento_torrent" value="[torrent]" id="compartilhamento" onClick="javascript:div('torrent');"> Torrent </label> 
		<label><input type="checkbox" name="compartilhamento_pando" value="[pando]" id="compartilhamento" onClick="javascript:div('pando');" > Pando </label> 
		<label><input type="checkbox" name="compartilhamento_ed2k" value="[ed2k]" id="compartilhamento"> Ed2k - Emule </label>
		<label><input type="checkbox" name="compartilhamento_p2m" value="[p2m]" id="compartilhamento"> P2m </label>
		</dd>
    </fieldset>	
	
	<fieldset>
		<hr />
		<dt><label>* {L_DOWNLOAD}</label></dt>
		<dd><textarea class=":required inputbox" name="http" rows="3" cols="30" id="http"></textarea></dd>
		</dl>
	</fieldset>

<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>

</div>
	<div class="clear"></div>
	</div><div class="copyright" style="text-align: right;">{L_COPYRIGHT}<br />
		{L_CODE_GENERATOR_TRANSLATION_INFO}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->