<!-- DEFINE $CG_PAGE = 'animation' -->
<!-- INCLUDE overall_header.html -->

	<h2>{L_CODE_GENERATOR}</h2>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="width: 100%;">
	<!-- INCLUDE codegenerator/menu.html -->
	<div id="cp-main" class="cp-main ucp-main panel-container">
	<h2>{L_CAT_ANIMATION}</h2>
	<form name="formfs" onSubmit="return erro();" method="post" action="{U_ANIMATION_ACTION}">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>{L_FIELDS_REQUIRED}</p>
	
	<dt><label><h3>{L_DATA_FILE}</h3></label></dt>
		
	<fieldset>
		<dl>
		<dt><label>* {L_NAME}:</label></dt>
		<dd><input type="text" name="traduzido"  class=":required inputbox" id="traduzido"></dd>
		
		<dt><label>{L_ORIGINAL_NAME}:</label></dt>
		<dd><input type="text" name="nome"  class="inputbox" id="nome"></dd>
		
		<dt><label>* {L_SEASON}: </label></dt>
		<dd><input type="text" name="temporada"  class=":required inputbox" id="temporada"></dd>
		
		<dt><label>{L_EPISOSE}:</label></dt>
		<dd><input type="text" name="nome_episodio"  class="inputbox" id="nome_episodio"></dd>
		
		<dt><label>FanSuber:</label></dt>
		<dd><input type="text" name="fan"  class="inputbox" id="fan"></dd>
		
		<dt><label>* Idioma Áudio:</label></dt>
		<dd><input type="text" name="idioma"  class=":required inputbox" id="idioma"></dd>
		
		<dt><label>Ripado Por:</label></dt>
		<dd><input type="text" name="rip"  class="inputbox" id="rip"></dd>
		
		<dt><label>* {L_POSTER}:</label></dt>
		<dd><input type="text" name="poster"  class=":required inputbox" id="poster"></dd>
		</dl>
		</fieldset>
	
	
		<dt><label><h3>{L_SPECIFICATIONS}</h3></label></dt>
		
		<fieldset>
		<dl>
		<dt><label>Video Codec:</label><small>Codec de Vídeo. Ex:DviX, XviD, etc...</small></dt>
		<dd><input type="text" name="video_codec"  class="inputbox" id="video_codec"></dd>
		
		<dt><label>Video Bitrate:</label><small>Bitrate de Vídeo. Ex: 600 kb/s</small></dt>
		<dd><input type="text" name="video_bitrate"  class="inputbox" id="video_bitrate"></dd>
		
		<dt><label>Áudio Codec:</label><small>Codec de Áudio. Ex: Mp3</small></dt>
		<dd><input type="text" name="audio_codec"  class="inputbox" id="audio_codec"></dd>
		
		<dt><label>Áudio Bitrate:</label><small>Bitrate de Áudio. Ex: 128 kb/s</small></dt>
		<dd><input type="text" name="audio_bitrate"  class="inputbox" id="audio_bitrate"></dd>
		
		<dt><label>* Resolução:</label><small>Resolução do Vídeo. Ex: 1280x720</small></dt>
		<dd><input type="text" name="resolucao"  class=":required inputbox" id="resolucao"></dd>
		
		<dt><label>Formato de Tela:</label><small>A proporção. Ex: 4:3, 16:9...</small></dt>
		<dd><input type="text" name="formato"  class=" inputbox" id="frame_rate"></dd>
		
		<dt><label>Frame Rate:</label><small>Os FPS do filme. Ex: 29.970 fps</small></dt>
		<dd><input type="text" name="frame_rate"  class=" inputbox" id="frame_rate"></dd>
		
		<dt><label>* Qualidade:</label></dt>
		<dd>
		<select name="qualidade" id="qualidade" class=":required">
    		<option selected="selected" value="">{L_SELECT}</option>
    		<option value="3D">3D</option>
            <option value="BD-25">BD-25</option>
            <option value="BDRip">BDRip</option>
            <option value="Blu Ray">Blu Ray</option>
            <option value="BRRip">BRRip</option>
            <option value="CAM">CAM</option>
            <option value="DVD-5">DVD-5</option>
            <option value="DVD-9">DVD-9</option>
            <option value="DVDrip">DVDrip</option>
            <option value="DVD-R">DVD-R</option>
            <option value="DVDScreen">DVDScreen</option>
            <option value="HDDVD">HDDVD</option>
            <option value="HD 720p">HD 720p</option>
            <option value="HD 1080p">HD 1080p</option>
            <option value="HDTV">HDTV</option>
            <option value="PDTV">PDTV</option>
            <option value="R5">R5</option>
            <option value="RatDVD">RatDVD</option>
            <option value="Remux">Remux</option>
            <option value="Screener">Screener</option>
            <option value="TeleCine">TeleCine</option>
            <option value="TeleSync">TeleSync</option>
            <option value="TVRip">TVRip</option>
            <option value="VHSRip">VHSRip</option>
            <option value="WEBRip">WEBRip</option>
            <option value="WEB-DL">WEB-DL</option>
            <option value="Workprint">Workprint</option>
            <option value="Outros">Outros</option>
		</select>
		</dd>
		
		<dt><label>* Legendas:</label></dt>
		<dd><select name="legendas" id="legendas" class=":required">
		<option selected="selected" value="">{L_SELECT}</option>
		<option>Anexada(s) ao Post</option>
		<option>Embutida</option>
		<option>No Arquivo</option>
		<option>Sem Legenda</option>
		</select></dd>
		
		<dt><label>* {L_SIZE}:</label></dt>
		<dd><input type="text" name="tamanho"  class=":required inputbox" id="tamanho"></dd>
		
		<dt><label>* Mídias:</label></dt>
		<dd><select name="midias" id="midias" class=":required">
		<option selected="selected" value="">{L_SELECT}</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		</select></dd>
		
		<dt><label>* Duração:</label></dt>
		<dd><input type="text" name="duracao"  class=":required inputbox" id="duracao"></dd>
		
		<dt><label>Site Oficial:</label></dt>
		<dd><input type="url" name="site"  class="inputbox" id="site"></dd>
		</dl>
		</fieldset>
	
	<dt><label><h3>SCREENSHOTS</h3></label></dt>
	
	<fieldset>
		<dl>
		<dt><label>* 1ª Screen:</label></dt>
		<dd><input type="text" name="screen1"  class=":required :url inputbox" id="screen1"></dd>
		
		<dt><label>* 2ª Screen:</label></dt>
		<dd><input type="text" name="screen2"  class=":required :url inputbox" id="screen2"></dd>		
		</dl>
		
		<dl>
		<dt><label>3ª Screen:</label></dt>
		<dd><input type="url" name="screen3"  class="inputbox" id="screen3"></dd>
		
		<dt><label>4ª Screen:</label></dt>
		<dd><input type="url" name="screen4"  class="inputbox" id="screen4"></dd>		
		</dl>
	</fieldset>
	
	<fieldset>
		<hr />
		<dl>
		<dt><label>* {L_SYNOPSIS}</label></dt>
		<dd><textarea class=":required inputbox" name="descricao" rows="3" cols="30" id="descricao"></textarea></dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<hr />
		<dl>
		<dt><label>{L_OTHER_INFORMATION}</label></dt>
		<dd><textarea class="inputbox" name="outras_info" rows="3" cols="30" id="outras_info"></textarea></dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<hr />
		<dl>
        <dt><label>* Compartilhamento:</label></dt>
		<dd><label><input type="checkbox" name="compartilhamento_http" value="[http]" id="compartilhamento"> Http </label>
		<label><input type="checkbox" name="compartilhamento_torrent" value="[torrent]" id="compartilhamento" onClick="javascript:div('torrent');"> Torrent </label> 
		<label><input type="checkbox" name="compartilhamento_magnet" value="[pando]" id="compartilhamento" onClick="javascript:div('magnet');" > Magnet </label> 
		<label><input type="checkbox" name="compartilhamento_ed2k" value="[ed2k]" id="compartilhamento"> Ed2k - Emule </label>
		</dd>
		</dl>
    </fieldset>	
	
	<fieldset>
		<hr />
		<dl>
		<dt><label>* {L_DOWNLOAD}</label><small>Somente LINKS aonde poderá ser feito o download, e só 1 link por linha.</small></dt>
		<dd><textarea class=":required inputbox" name="http" rows="3" cols="30" id="http"></textarea></dd>
		</dl>
	</fieldset>
	
<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>

</div>
	<div class="clear"></div>
	</div><div class="copyright" style="text-align: right;">{L_COPYRIGHT}<br />
		{L_CODE_GENERATOR_TRANSLATION_INFO}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->